.bg-body {
  background-image: url('/images/purple1.jpg');
}

div.wrapper {
  min-height: var(--min-wrapper);
  flex: 1;
  margin: 15px 0 20px 0;
}

.discussion-form {
  min-height: min(calc(var(--min-wrapper) * 0.8), 660px);
  align-items: center;
  padding: 20px 30px;
  width: min(800px, 35vw);
  gap: 18px;
  box-shadow: var(--box2);
}


.form-title {
  text-align: center;
}

.form-title h1 {
  font-size: 45px;
  font-weight: normal;
  font-family: var(--font2);
  color: var(--accent1);

}

.form-item2 {
  display: flex;
  flex-direction: column;
  font-size: 22px;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.form-item2 label {
  font-size: 20px;
  opacity: 0.9;
}

.form-item2 input {
  font-size: 18px;
  padding: 4px;
}

.form-item2 textarea,
.form-item2 input {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  color: var(--light1);
  background-color: transparent;
  max-height: 100%;
  border: 1.2px transparent;
  background-color: rgb(0, 0, 0, 0.3);
}

.description {
  flex: 1;
}

.form-item2 textarea {
  padding: 5px;
  text-align: center;
  height: 100%;
  flex: 1;
}

.form-buttons {
  width: 100%;
  justify-content: space-between;
  margin-top: auto;
}

.create-btn {
  padding: 3px 15px;
  box-shadow: none;
  font-family: var(--font2);
  font-size: 30px;
  border-radius: 4px;
  color: var(--accent1);
  background-color: transparent;
  opacity: 0.95;
  transition: background-color ease-out 0.1s;
}

.create-btn:hover {
  transform: none;
  color: white;
  background-color: var(--accent1);
}

/*
 * Discussion view
 */
.discussion-body {
  background-image: url('/images/dark-red.jpg');
}

.discussion-body div.wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding: 20px;
  max-width: min(1500px, 80%);
  width: 100%;
  margin: 0 auto;
}

.discussion,
.comment-form,
.comments {
  width: 100%;
  box-sizing: border-box;
}

.discussion {
  display: grid;
  grid-template-columns: 0.9fr 2fr;
  gap: 10px;
  padding: 18px;
  min-height: 300px;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 150px;
  max-height: 350px;
  overflow: hidden;
  /* important */
}

.img-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 5px;
}


.article {
  display: grid;
  align-self: start;
  grid-template-rows: auto auto;
  gap: 20px;
  max-height: fit-content;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px 10px 0 10px;
}

.header h1 {
  font-size: 30px;
  text-decoration: underline;
  text-underline-offset: 7px;
  text-decoration-thickness: 2px;
  text-decoration-color: rgb(255, 255, 255, 0.7);
  line-height: 1.3;

}

.header .author-details {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.author-details p {
  text-align: right;
}

.article .description {
  padding: 0 10px;
  margin-bottom: auto;
}

.article .description p {
  line-height: 1.2;
  font-size: 20px;
  text-align: justify;
}

/*
 * Comment form
 */
.comment-form {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 10px 20px;
  gap: 20px;
}

.comment-form h3 {
  text-align: center;
}

.comment-form textarea {
  padding: 10px;
  height: 80px;
  box-sizing: border-box;
  color: var(--light1);
  background-color: transparent;
  border: 1.2px transparent;
  border-radius: var(--radius2);
  background-color: rgb(0, 0, 0, 0.3);
  font-weight: 500;
}

.post-btn {
  margin: auto;
  width: fit-content;
  padding: 5px 20px;
  box-shadow: none;
  font-family: var(--font2);
  font-size: 30px;
  border-radius: 4px;
  color: var(--accent1);
  background-color: transparent;
  opacity: 0.95;
  transition: background-color ease-out 0.1s;
}

.post-btn:hover {
  transform: none;
  color: white;
  background-color: var(--accent1);
}

/*
 *  COMMENTS
 */
.comments header {
  text-align: center;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 18px;
}

.comment-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 50px;
}

.comment-header {
  display: flex;
  gap: 20px;
  align-items: center;
}
