.bg-body {
  background-image: url('/images/purple1.jpg');
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding: 30px;
  max-width: min(1200px, 70%);
  width: 100%;
  margin: 0 auto;
}


.discussion {
  display: flex;
  flex-direction: column;
  padding: 25px 30px;
  width: 100%;
}

.discussion-header {
  display: grid;
  grid-template-columns: 80% auto;
  grid-template-rows: auto;
  align-items: start;
}

.discussion-header>* {
  min-width: 0;
  min-height: 0;
}

.d-title {
  width: 100%;
  display: flex;
}

.discussion-header h3 {
  font-family: var(--font3), Helvetica;
  font-size: 26px;
  color: var(--accent1);
  font-weight: 900;
  text-decoration: underline;
  text-underline-offset: 7px;
  text-decoration-thickness: 2px;
  line-height: 1.3;
  width: fit-content;
}

.user-info {
  display: grid;
  grid-template-columns: 40px auto;
  gap: 18px;
  justify-content: end;
}

.user-info>* {
  min-width: 0;
  min-height: 0;
}

.user-img {
  aspect-ratio: 1 /1;
  width: 100%;
}

.user-img img {
  width: 100%;
  border-radius: 10%;
}

.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user p {
  font-family: var(--font2);
  font-size: var(--f_size2);
  text-decoration: rgb(255, 255, 255, 0.8)underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 2.5px;
  line-height: 1.3;
}

.discussion-body {
  box-sizing: border-box;
  padding: 10px 5px;
  height: 50px;
  overflow: hidden;
}

.discussion-body p {
  text-align: justify;
  line-height: 1.2;
  font-size: var(--f_size4);
}
