@font-face {
  font-family: 'Thirteen';
  src: url('/fonts/3DThirteenPixelFontsRegular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Calive';
  src: url('/fonts/CalivepixelRegularDemo.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Vorline';
  src: url('/fonts/VorlinepixelRegularDemo.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Groovy';
  src: url('/fonts/GroovySoulsDemos-1jz9g.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Marketing';
  src: url('/fonts/MarketingDisparities.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Marsen';
  src: url('/fonts/MarsenpixelRegular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  /* Variables */
  --navbar-height: 55px;
  --footer-height: 60px;
  --min-wrapper: calc(100vh - (var(--footer-height) + var(--navbar-height)));
  --font1: Helvetica;
  --font2: 'Vorline';
  --font3: 'Calive';
  --font4: 'Thirteen';
  --font5: 'Groovy';
  --font6: 'Marketing';
  --font7: 'Marsen';
  --f_size0: calc(1vh + 32px);
  --f_size1: calc(1vh + 24px);
  --f_size2: calc(1vh + 20px);
  --f_size3: calc(1vh + 16px);
  --f_size4: calc(1vh + 10px);
  --f_size5: calc(1vh + 8px);
  --accent1: #EC0025;
  --accent2: #FA375C;
  --accent3: #106C9E;
  --dark1: #181818;
  --dark2: rgb(23, 23, 23, 0.85);
  --dark3: rgba(4, 4, 4, 0.85);
  --light1: white;
  --light2: #C2C2C2;
  --gap0: 25px;
  --gap1: 18px;
  --gap2: calc(var(--gap1) / 2);
  --border1: 2px solid black;
  --radius1: 2px;
  --radius2: 5px;
  --box1: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  --box2: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* */
  position: relative;
  margin: 0;
  padding: 0;
  font-family: var(--font1);
  padding-bottom: var(--footer-height);
  background-color: var(--dark1);
  width: 100%;
  min-height: calc(100vh - var(--footer-height));
  line-height: 1;
  background-color: var(--dark3);
}

ul,
li,
h1,
h2,
h3,
h4,
h5,
a,
button {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

select,
option,
input,
textarea {
  color: inherit;
  font-family: inherit;
}

button {
  background-color: transparent;
  border: none;
  padding: none;
  transition: transform ease-out 0.2s;
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.invisible {
  display: none;
}

a,
button {
  display: block;
  font-size: var(--f_size4);
  transition: transform ease-out 0.2s;
}


h1 {
  font-family: var(--font3);
  font-size: var(--f_size1);
}

h2 {
  font-family: var(--font3);
  font-size: calc(0.3vh + 34px);

}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: var(--dark1);
}

.footer-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--footer-height);
}

.portfolio-link {
  color: var(--light1);
  font-family: var(--font3);
  font-size: var(--f_size4);
  font-weight: 900;
  transition: transform ease-out 0.3s;
}

/* General styles*/
.h-flex {
  display: flex;
}

.v-flex {
  display: flex;
  flex-direction: column;
}

.v-flex-center {
  align-items: center
}

.flex-center-all {
  justify-content: center;
  align-items: center;
}

.color-hover:hover {
  color: var(--accent2);
}

.size-hover:hover {
  transform: scale(1.1);
}

.size2-hover:hover {
  transform: scale(1.02);
}

.opacity-hover:hover {
  background-color: var(--dark3);
}

.cursor {
  cursor: pointer;
}

.bg-body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.form {
  background-color: var(--dark2);
  padding: var(--gap2) calc(var(--gap0) * 2);
  color: white;
  display: flex;
  flex-direction: column;
  gap: var(--gap0);
  font-family: var(--font3);
  border-radius: 8px;
  box-shadow: var(--box1);
}


.form-item {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  align-items: center;
  font-size: var(--f_size3);
  width: 40vw;
}

.form-buttons {
  text-align: center;
}

input {
  background-color: var(--light2);
  color: black;
  font-size: var(--f_size4);
  font-weight: 500;
  height: 100%;
  text-align: center;
  border-radius: var(--radius2);
}

textarea {
  background-color: var(--light2);
  color: black;
  font-size: var(--f_size4);
  font-weight: 500;
  height: 100%;
  border-radius: var(--radius2);
}

p {
  margin: 0;
  padding: 0;
}

.create-btn,
.post-btn {
  padding: var(--gap2) var(--gap1);
  border-radius: var(--radius2);
  box-shadow: var(--box2);
}

.cancel-btn {
  padding: var(--gap2) var(--gap1);
  border-radius: var(--radius2);
}

.float {
  background-color: var(--dark2);
  padding: var(--gap2) calc(var(--gap0) * 2);
  color: white;
  font-family: var(--font3);
  border-radius: 8px;
  box-shadow: var(--box1);
}


#logotype {
  font-family: var(--font7);
  text-shadow: 2px 2px 2px black;
  color: var(--accent1);
}
