.bg-body {
  background-image: url('/images/dark-red.jpg');
}

.login-form {
  padding-bottom: 20px;
}

.form-title {
  padding-bottom: 20px;
  padding-top: 25px;
}

.form-title h1 {
  font-family: var(--font4);
  color: var(--accent1);
  font-size: 75px;
  height: 100%;
}

.form-item label {
  width: 50%;
}

.form-buttons {
  margin: auto;
}

.create-btn {
  line-height: 1;
  padding: 3px 15px;
  box-shadow: none;
  font-family: var(--font2);
  font-size: 30px;
  border-radius: 4px;
  color: var(--accent1);
  background-color: transparent;
  opacity: 0.95;
  transition: background-color ease-out 0.1s;
}

.create-btn:hover {
  transform: none;
  color: white;
  background-color: var(--accent1);
}

.form-redirect {
  gap: 13px;
}
