.bg-body {
  background-image: url('/images/purple1.jpg');
}

.wrapper {
  min-height: var(--min-wrapper);
  flex: 1;
  justify-content: center;
  margin: auto;
  width: 80vw;
}

.m-container {
  padding: 25px;
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
  max-height: min(calc(var(--min-wrapper) - 50px), 500px);
  border-radius: 4px;
}

.title h1 {
  font-family: var(--font2);
  color: var(--accent1);
  font-weight: normal;
  text-align: center;
  font-size: 55px;
  padding: 0;
  margin: 0;
}

.memberships {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  height: 100%;
  min-height: 0;
}

.m-item {
  display: grid;
  grid-template-rows: 35% 65%;
  gap: 5px;
  padding: 20px;
  position: relative;
  box-shadow: none;
  min-height: 0;
  min-width: 0;
  background-color: rgba(4, 4, 4, 0.40);
}

.img-container {
  display: flex;
  justify-content: center;
  min-height: 0;
  min-width: 0;
}

.img-container img {
  box-sizing: border-box;
  height: 100%;
  border-radius: 10%;
  border: 3px transparent;
}

.m-body {
  display: grid;
  grid-template-rows: auto 1fr;
  text-align: justify;
  line-height: 1.2;
  min-height: 0;
  min-width: 0;
  padding: 5px;
  position: relative;
}

.m-body h3 {
  font-size: 40px;
  font-family: var(--font2);
  font-weight: normal;
  text-align: center;
  padding: 0;
  margin: 0;
}

.m-body p {
  font-size: 16px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: justify;
  line-height: 1.3;
  padding: 5px 0;
}

.selected {
  transform: scale(1.02);
}

.selected h3 {
  font-family: var(--font7);
  color: var(--accent1);
  font-size: 32px;
  text-shadow: 2px 2px 2px black;
}

.selected img {
  border-radius: 4px;
  box-shadow: var(--box2);
}

.locked {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  height: 100%;
  width: 100%;
  background-color: rgb(25, 25, 25, 0.1);
  backdrop-filter: blur(1.5px);
}
