.navigation-bar {
  margin: 0;
  height: var(--navbar-height);
  color: var(--light1);
  background-color: rgb(23, 23, 23, 0.9);
  overflow: hidden;
  justify-content: space-between;
  width: 100%;
}

.logo-container {
  box-sizing: border-box;
  height: 100%;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container h2 {
  color: var(--accent1);
  font-size: 35px;
}

.navigation-links {
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
  font-family: var(--font2);
}

.navigation-links a,
.navigation-links button {
  font-size: 28px;
}

.menu-user {
  position: absolute;
  top: 0;
  width: 100%;
}

.menu-user li {
  position: relative;
  padding: 0.7rem 1rem;
}

.menu-user li:not(:first-child) {
  display: none;
  background-color: var(--dark2);
}

.menu-user:hover li:not(:first-child) {
  display: block;
}

.not-form {
  padding: 0;
  margin: 0;
}
