.navigation-bar {
  margin: 0;
  padding: 0 var(--gap1);
  height: var(--navbar-height);
  color: var(--light1);
  background-color: var(--dark2);
  overflow: hidden;
}

.logo-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.logo-container h2 {
  font-size: 40px;
}

.navigation-links {
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
  font-family: var(--font2);
}

.navigation-links a,
.navigation-links button {
  font-size: var(--f_size2)
}

.menu-user {
  position: absolute;
  top: 0;
  width: 100%;
}

.menu-user li {
  position: relative;
  padding: 0.7rem 1rem;
}

.menu-user li:not(:first-child) {
  display: none;
  background-color: var(--dark2);
}

.menu-user:hover li:not(:first-child) {
  display: block;
}

.not-form {
  padding: 0;
  margin: 0;
}
