.bg-body {
  background-image: url('/images/purple1.jpg');
}

div.wrapper {
  height: var(--min-wrapper);
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 0.8fr);
  grid-template-rows: minmax(0, 1fr);
}

.profile-main,
.profile-utilities {
  min-height: 0;
  min-width: 0;
}

.profile-main {
  align-self: center;
  justify-self: center;
}

.display-form {
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: var(--dark3);
  gap: 12px;
  max-height: 100%;
  max-width: 100%;
  padding: 18px;
  width: 450px;
}

.display-form>* {
  min-width: 0;
  min-height: 0;
}

.form-item label {
  width: 50%;
  font-family: var(--font2);
  font-size: 28px;
  font-weight: normal;
}

.form-item input {
  min-width: 100px;
  max-width: 60%;
  text-align: center;
  padding: 5px;
}

.display-form h1 {
  font-family: var(--font2);
  font-weight: normal;
  font-size: 45px;
  color: var(--accent1);
}

.form-item p {
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-family: var(--font7);
  font-weight: normal;
  font-size: 25px;
  color: var(--accent1);
  text-align: center;
  text-shadow: 2px 2px 2px black;
}

.form-img img {
  width: 170px;
  border-radius: 12px;
}

.profile-utilities {
  height: 100%;
  max-height: 100%;
  display: grid;
  grid-template-rows: minmax(0, 3fr) minmax(0, 7fr);
  gap: 30px;
  align-items: start;
}

.profile-stats,
.profile-discussions {
  min-width: 0;
  min-height: 0;
  margin: auto 30px;
}

.profile-stats {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;
}

.stats-header {
  text-align: center;
}

.stats-header h3 {
  font-family: var(--font2);
  font-weight: normal;
  color: var(--accent1);
  font-size: 35px;
  text-align: center;
}

.stats-body {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.stat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.stat-item h4 {
  font-family: var(--font2);
  font-size: 25px;
  font-weight: normal;
}

.profile-discussions {
  align-self: start;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 20px 10px;
  gap: 10px;
  margin: 30px;
}

.profile-discussions h3 {
  font-family: var(--font2);
  font-weight: normal;
  color: var(--accent1);
  font-size: 35px;
  text-align: center;
}

.profile-discussions .msg {
  text-align: center;
}

.profile-discussions ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.discussion-item {
  transition: transform ease-in 0.1s;
  text-align: center;
}

.discussion-item a:hover {
  transform: scale(1.02);
  color: var(--accent2);
  text-decoration: 1px underline;
  text-decoration-color: var(--accent2);
}

.discussion-item a {
  text-underline-offset: 5px;
  text-decoration-color: rgb(255, 255, 255, 0.7);
}
