.bg-body {
  background-image: url('/images/purple1.jpg');
}

.sign-up-form {
  justify-content: center;
  gap: 15px;
  width: min(55%, 600px);
}

.form-title {
  padding: 10px;
}

.form-title h1 {
  color: var(--accent4);
  font-size: 75px;
  font-weight: 600;
}

.form-buttons {
  margin: auto;
  margin-top: 12px;
}

.form-item {
  gap: 0;
}

.form-item label {
  width: 50%;
}

.form-item input {
  text-align: center;
}

.form-redirect {
  gap: 10px;
}

.form-redirect p,
.form-redirect a {
  margin: 0;
  padding-bottom: 20px;
}

.create-btn {
  line-height: 1;
  padding: 3px 15px;
  box-shadow: none;
  font-family: var(--font2);
  font-size: 33px;
  border-radius: 4px;
  color: var(--accent1);
  background-color: transparent;
  opacity: 0.95;
  transition: background-color ease-out 0.1s;
}

.create-btn:hover {
  transform: none;
  color: white;
  background-color: var(--accent1);
}
