.bg-body {
  background-image: url('/images/blue.jpg');
}

.form-title {
  padding-bottom: 10px;
}

.form-title h1 {
  font-family: var(--font4);
  color: var(--accent1);
  font-size: 80px;
  font-weight: 600;
}

.form-buttons {
  margin: auto;
  margin-top: 12px;
}

.form-item {
  gap: 0;
}

.form-buttons button {
  background-color: var(--accent3);
  padding: var(--gap2) var(--gap1);
  border-radius: var(--radius2);
  box-shadow: var(--box2);
}

.form-redirect {
  gap: 10px;
}

.form-redirect p,
.form-redirect a {
  margin: 0;
  padding-bottom: 20px;
}
