include partial-views/head
  link(rel="stylesheet", href="/css/navbar.css")
  link(rel="stylesheet", href="/css/index.css")
  title= 'Curated Discussions'
body
  include partial-views/navbar
  h1= 'Index'
  include partial-views/footer
