include partial-views/head
    link(rel="stylesheet", href="/css/navbar.css")
    link(rel="stylesheet", href="/css/index.css")
    link(rel="stylesheet", href="/css/sign-up.css")
    title= 'Create new account'
body(class='bg-body v-flex flex-center-all')
  form(class="form sign-up-form", method="POST")
    div(class='form-title h-flex flex-center-all')
      h1 Nimbus
    .form-item 
      label(for='first-name') Name :
      input(id='first-name', type="text", name="first_name", required)
    .form-item 
      label(for='last-name') Last name :
      input(id='last-name', type="text", name="last_name", required)
    .form-item 
      label(for='email') Email :
      input(id='email', type="email", name="email", required) 
    .form-item 
      label(for='password') Password :
      input(id='password', type="password", name="password", required)
    .form-item 
      label(for='confirm-password') Confirm password :
      input(id='confirm-password', type="password", name="confirm_password", required)
    div(class='form-buttons h-flex flex-center-all')
      button(type='submit', class='create-btn') Create account 
    div(class='form-redirect h-flex flex-center-all')
      p Already have an account? 
      a(href='login' class='size-hover color-hover') Sign-in 
  include partial-views/footer
